{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Buenos Aires</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% block stylesheet %} {% endblock %}

</head>
<body>

    {% block navbar%}
    <nav id="navbar">
        <div id="nav">
            <ul class="list-inline">
                <!-- inicio menú para usuarios anónimos -->
                <li id="inicio">Inicio</li>    
                <li id="tienda">Tienda</li>
                <!-- fin menú para usuarios anónimos -->

                {% if user.is_authenticated and user.is_staff %}
                    <li id="admsis">Administrar sistema</li>
                    <li id="manpro">Mantener productos</li>
                {% endif %}
                
                {% if not user.is_authenticated and not user.is_staff %}
                    <li id="regist">Registrarme</li>
                {% endif %}
                
                {% if not user.is_authenticated %}
                    <li id="inises">Iniciar sesión</li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li id="chpass">Cambiar contraseña</li>
                    <li id="cerses">Cerrar sesión</li>
                    <li id="perfil">{{ user.get_full_name }}</li>
                {% endif %}
                
            </ul>
        </div>                                 
    </nav>
    {% endblock %}

    <header>
        <div>            
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}"> Inicio </a></li>
                    <li><a href="{% url 'InicioSesion' %}">Ingresar</a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>