{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Tipo SS</th>
        <th scope="col">Fecha visita</th>
        <th scope="col">Hora visita</th>
        <th scope="col">Técnico</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado SS</th>
        <th scope="col">Opciones</th>
    

    </tr>
    </thead>
    <tbody>
        {% for SS in datossol %}
        <tr>
            <th scope="row">{{SS.nross}}</th>
            <th scope="row">{{SS.nrofac}}</th>
            <th scope="row">{{SS.tiposs}}</th>
            <th scope="row">{{SS.ruttec}}</th>
            <th scope="row">{{SS.descss}}</th>
            <th scope="row">{{SS.estadoss}}</th>
            <th scope="row"><a></a><a></a><a></a></th>
        {% endfor %}

        </table>

{% endblock %}