{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                    <div class="header">
                            <h2>Productos Buenos Aires</h2>
                    </div>
            </div>
    </div>
<!-- Products Start -->
<section id="services" class="services section-bg">
    <div class="container-fluid">
    <div class="row row-sm">
        <div class="col-md-6">
                <li><img src="{{producto.imagen}}" alt=""></li>
            <div class="_product-images">
            </div>  
            </div>
        <div class="col-md-6">
            <div class="_product-detail-content">
                <p class="_p-name"> {{producto.nomprod}} </p>
                <div class="_p-price-box">
                <div class="p-list">
                    <span> Precio: <i class="fa fa-inr"></i> $ {{producto.precio}}  </span>
                </div>
                <div class="_p-features">
                    <span> Descripción del producto: </span>
                    {{producto.descprod}}
                </div>
                <h4>Producto disponible</h4>
                <form action="" method="post" accept-charset="utf-8">
                    <ul class="spe_ul"></ul>
                    <div class="_p-qty-and-cart">
                        <div class="_p-add-cart">
                            <button class="btn-theme btn buy-btn" tabindex="0">
                                <a href="{% url 'iniciar_pago' %}">
                            <i class="fa fa-shopping-cart"></i></a>Comprar</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Product End -->
{% endblock %}