{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/base.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>Productos Buenos Aires</h2>
                            </div>
                    </div>
            </div>
{% if prod %}
<div class="row">
{% for pro in prod %}

<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
<div id="product-5" class="single-product">
<img class="card-img-top" src="{{pro.imagen_producto.url}}" alt="Card image cap" style="max-width: 500px; max-height: 175px;">
</div>
<div class="part-2">
<h4 class="product-title">{{pro.nomprod}}</h4>
<h4 class="product-price">{{pro.precio}}</h4>
<br>
<h6> DESCRIPCIÓN </h6>
    <h8> {{pro.descprod}} </h8>
</div>
<div class="btn-action d-flex justify-content-center">
<!-- aqui se llama a la url del producto que sera llamada por su idp se estandariza con un  -->
<button class="btn btn-primary"><a href="{% url 'Tienda' pro.idp %}">Ver Producto</a></button>

</div>

</div>
{% endfor %}

</div>
{% endif %}
</section>

{% endblock content %}